*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul
li{
    list-style: none;

}
a{
    text-decoration: none;
    display: inline-block;
}
.container_simle{
    display: flex;
    width: 1600px;
    height: 1024px;
    padding: 301px 0px 300px 0px;
    justify-content: center;
    align-items: center;
    background-color: #0A0A0A;
}
.content__smile{
    display: flex;
    width: 423px;
    height: 423px;
    padding: 19.379px 19.377px 19.377px 19.379px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: #FFF851;
}